* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media (max-width: 460px) {
    :root {
        font-size: 12px;
    }
}

// Variables
$-c-brown-1:rgb(251, 242, 228);
$-c-green-1:rgb(173, 203, 183); 
$-c-green-3:rgba(207, 224, 206, 0.4); 
$-c-blue-1: rgb(159, 181, 205);
$-c-blue-2: rgb(41, 124, 161);
$-c-red-1: rgb(217, 113, 113);
$-c-grey-1: rgb(159, 184, 195);
$-c-grey-2: rgb(185, 198, 200);
$-c-grey-3: rgb(225, 225, 225);
$-c-grey-4: rgb(250, 250, 250);

$-boxshadow-btn: 4px 4px 4px -5px rgba(0, 0, 0, 0.4);
$-boxshadow-screen: inset 0 0 5px rgba(26, 2, 2, 0.3);

$-font-1: 'Quantico', sans-serif;
$-font-2: 'Roboto', sans-serif;

// Mixins
@mixin flex ($direction, $justify, $align-items) {
    display: flex;
    flex-direction:$direction;
    justify-content:$justify;
    align-items: $align-items;
}

@mixin grid () {
    display:grid;
}

// Utility
.flex-c-center {
    @include flex(row, center, center);
}

.container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    font-family: $-font-2;
}

h1.title {
    margin-top: 50px;
    color: $-c-blue-2;
    text-align: center;
    font-weight:400;
}

#calculator {
    max-width: 480px;
    width: 100%;
    padding: 2.5em;
    border: 1px solid $-c-grey-3;
    border-radius: 6px;
    background: $-c-grey-4;
    box-shadow:$-boxshadow-btn;
    margin: 0 auto;
    margin-top: 30px;
}

.screen {
    background-color: rgba(240, 240, 240, 0.8);
    width: 100%;
    height: 70px;
    margin: 0 auto;
    box-shadow: $-boxshadow-screen;
    font-family: $-font-1;
    // letter-spacing: 0.25em;
    overflow: hidden;  
}

#display-history {
    height: 35%;
    padding: 4px;
    background-color: $-c-green-3;
    font-size: 0.8em;
}

#display {
    @include flex(column,center,flex-end);
    height: 65%;
    padding: 4px;
    background-color: $-c-green-3;
    font-size: 2em;
    font-weight: 500;
}

#pad {
    padding-top: 30px;
    margin: 0 auto;
    text-align: center;
    font-family: $-font-2;
    font-size: 1.2em;
    font-weight: 500;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    grid-auto-rows: 50px;
}

#pad > div {
    @include flex(column,center,center);
}

.btn-var {
    font-size: 0.65em;
    @include flex(column,center,center);
}

.variable {
    box-shadow: none !important;
    color:$-c-grey-1;
    // font-size: 0.65em;
}

.num-button {
    box-shadow: $-boxshadow-btn;
}

.btn-color-1 {background: $-c-grey-3;}
.btn-color-2 {background: $-c-grey-2;}
.btn-color-3 {background: $-c-red-1;}
.btn-color-4 {background: $-c-blue-1;}
.btn-color-5 {background: $-c-green-1;}
.btn-color-6 {background: $-c-brown-1;}