* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (max-width: 460px) {
  :root {
    font-size: 12px;
  }
}

.flex-c-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

h1.title {
  margin-top: 50px;
  color: #297ca1;
  text-align: center;
  font-weight: 400;
}

#calculator {
  max-width: 480px;
  width: 100%;
  padding: 2.5em;
  border: 1px solid #e1e1e1;
  border-radius: 6px;
  background: #fafafa;
  -webkit-box-shadow: 4px 4px 4px -5px rgba(0, 0, 0, 0.4);
          box-shadow: 4px 4px 4px -5px rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  margin-top: 30px;
}

.screen {
  background-color: rgba(240, 240, 240, 0.8);
  width: 100%;
  height: 70px;
  margin: 0 auto;
  -webkit-box-shadow: inset 0 0 5px rgba(26, 2, 2, 0.3);
          box-shadow: inset 0 0 5px rgba(26, 2, 2, 0.3);
  font-family: "Quantico", sans-serif;
  letter-spacing: 0.25em;
  overflow: hidden;
}

#display-history {
  height: 30%;
  background-color: rgba(207, 224, 206, 0.4);
}

#display {
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: rgba(207, 224, 206, 0.4);
  font-size: 2em;
  font-weight: 500;
}

#pad {
  padding-top: 30px;
  margin: 0 auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
  grid-auto-rows: 50px;
}

#pad > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-var {
  font-size: 0.7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.variable {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  color: #9fb8c3;
  font-size: 0.6em;
}

.num-button {
  -webkit-box-shadow: 4px 4px 4px -5px rgba(0, 0, 0, 0.4);
          box-shadow: 4px 4px 4px -5px rgba(0, 0, 0, 0.4);
}

.btn-color-1 {
  background: #e1e1e1;
}

.btn-color-2 {
  background: #b9c6c8;
}

.btn-color-3 {
  background: #d97171;
}

.btn-color-4 {
  background: #9fb5cd;
}

.btn-color-5 {
  background: #adcbb7;
}

.btn-color-6 {
  background: #fbf2e4;
}
/*# sourceMappingURL=styles.css.map */